<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Vet for them</title>
        <link rel="stylesheet" href="../static/css/style.css" type="text/css" />
        <script type="text/javascript" src="../static/js/apphome.js"></script>
    </head>
    <body>
        <h1>WELCOME TO MIMOS VET</h1>
        <h2>Here you can register or consult the information of your little friend</h2>
        <div> <img src="https://images.contentstack.io/v3/assets/blt6f84e20c72a89efa/bltd23d698154616afc/63c73a89a362596b80751065/img-cat-whiskers-101-header.jpg"></img>
        <br /><br />
        </div>
        <div>
        <button onclick="RegisterPage()">Register</button>
        <button onclick="ConsultPage()">Consult</button>
        </div>
    </body>
</html>